body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: inherit;
    overflow-x: hidden;
}

.btn-primary {
    width:190px;
    height: 50px;
    border:2px solid $white;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
    background: transparent;

    &:hover,
    &:focus {
        background: $white;
        color: red;
        border-radius:30;
        opacity: 0.7;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

.no_event {
    pointer-events: none;
}

.scroll_off {
    overflow: hidden;
    @include ioshidden();
}

.form-control {
    font-size:14px;
}


#pb_scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
    background-color: none;
}

#pb_scroll::-webkit-scrollbar {
    width: 5px;
    background-color: none;
}

#pb_scroll::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #7E81E7 0%, #0F40B2 100%);
}

.spinner-border {
    display: block;
    position: fixed;
    top: calc(50% - (58px / 2));
    right: calc(50% - (58px / 2));
    height: 80px;
    width: 80px;
    z-index: 9;
}

/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .btn-primary {
        font-size: 14px;
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .btn-primary {
        font-size: 14px;
    }

    .btn-primary-1 {
        font-size: 14px;
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .btn-primary {
        font-size: 14px;
    }

    .btn-primary-1 {
        font-size: 14px;
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .btn-primary {
        font-size: 14px;
    }

    .btn-primary-1 {
        font-size: 14px;
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .btn-primary {
        font-size: 14px;
    }

    .btn-primary-1 {
        font-size: 14px;
    }
}

/* Smaller phones */
@media (max-width: 320px) {}