$black: #000000;
$white: #ffffff;
$grey: #E7E7E7;
$black_2: #111111;

// Social Icons Color
$facebook: #1871e7;
$twitter: #1c99e7;
$linkedin: #0077b5;
$google-plus: #db4437;
$youtube: #fa362c;
$skype: #02b4eb;
$pinterest: #dd0017;
$instagram: #e1376f;


$primary_color: #f7f1f0;
$secondary_color: #c16452;

$inter: Inter, sans-serif;