.about_section {
  .about_1st {
    .about_sec_1 {
      width: 100%;
      height: 350px;
      //   border: 1px solid red;
      @include clearfix;
      overflow: hidden;
      //   border-radius:20px ;
      .about_1_left {
        // border: 1px solid blue;
        float: left;
        width: 470px;
        height: 100%;

        .about_1_left_image {
          width: 100%;
          height: 100%;
          border-radius: 20px;
          overflow: hidden;

          img {
            height: 100%;

            width: 100%;
            object-fit: cover;
          }
        }
      }
      .about_1_right {
        width: calc(100% - 530px);
        float: right;
        height: 100%;
        // border: 1px solid green;
        // padding: 35px 20px 35px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .about_1_right_content {
          .icon_para {
            display: flex;
            align-items: center;

            .about_1_icon {
              height: 30px;
              width: 30px;
              padding-right: 10px;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            p {
              //font-family: "Inter";
              font-size: 16px;
              font-weight: 500;
              line-height: 25.6px;
              
            }
          }
          .about_1_rest_content {
            h1 {
              padding-top: 17px;
              //font-family: "Inter";
              font-size: 32px;
              font-weight: 700;
              line-height: 52px;
              
            }
            p {
              padding-top: 12px;
              //font-family: "Inter";
              font-size: 16px;
              font-weight: 400;
              line-height: 25.6px;
              
            }
            .two_buttons {
              padding-top: 25px;
              .btn_1 {
                // color:#e7dbdb;
                background: linear-gradient(
                  90deg,
                  #7e81e7 -12.81%,
                  #0f40b2 100%
                );
                width: 157px;
                height: 40px;
                // padding: 12px px 12px 60px;

                border-radius: 6px;
              }
              .btn_2 {
                margin-left: 18px;
                color: #4d5461;
                background-color: #f3f3f3;
                width: 157px;
                height: 40px;
                // padding: 12px 60px 12px 60px;

                border-radius: 6px;
              }
            }
          }
        }
      }
    }
  }

  .about_2nd_full {
    border-radius: 6px;
    overflow: hidden;
    margin-top: 90px;
    position: relative;
    background: linear-gradient(90deg, #7e81e7 -12.81%, #0f40b2 100%);
    .two_circle {
      bottom: -236px;
      left: -64px;
      position: absolute;
      .bigcircle {
        width: 307px;
        height: 307px;
        border-radius: 50%;
        background-color: #1041b31a;
        position: relative;
      }
      .smallcircle {
        width: 182px;
        top: -143px;
        left: 183px;
        position: relative;
        height: 182px;
        border-radius: 50%;
        background-color: #1041b31a;
      }
    }
    .about_2_main {
      padding: 71px 0;
      .container_left {
        position: relative;
        padding-right: 68px;
        // border-right:1px solid white ;
        &::before {
          content: "";
          background: white;
          position: absolute;
          top: -8px;
          right: 0;
          height: 100%;
          width: 1.5px;
        }
        .img_container_left {
          width: 65px;
          height: 65px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .content_container_left {
          h3 {
            padding-top: 16px;
            //font-family: "Inter";
            color: white;
            font-size: 24px;
            font-weight: 700;
            line-height: 52px;
            
          }
          p {
            //font-family: "Inter";
            color: white;
            font-size: 16px;
            font-weight: 400;
            line-height: 25px;
            
            padding-bottom: 30px;

            &:nth-child(2) {
              padding: 20px 0 12px 0;
            }
          }
        }
      }
      .container_right {
        padding: 0 28px 0 40px;
        .img_container_right {
          width: 65px;
          height: 65px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .content_container_right {
          h3 {
            padding-top: 16px;
            //font-family: "Inter";
            color: white;
            font-size: 24px;
            font-weight: 700;
            line-height: 52px;
            
          }
          p {
            //font-family: "Inter";
            color: white;
            font-size: 16px;
            font-weight: 400;
            line-height: 25px;
            

            &:nth-child(2) {
              padding: 20px 0 12px 0;
            }
          }
        }
      }
    }
    .two_circle_2 {
      top: -147px;
      right: -3px;
      position: absolute;
      .bigcircle {
        width: 309px;
        height: 309px;
        border-radius: 50%;
        background-color: #9991f41a;

        position: relative;
      }
      .smallcircle {
        width: 190px;
        top: -143px;
        left: 183px;
        position: relative;
        height: 190px;
        border-radius: 50%;
        background-color: #9991f41a;
      }
    }
  }
  .about_3rd_4th {
    margin-top: 90px;
    .about_3rd {
      .upper_div_3 {
        display: grid;
        grid-template-columns: 430px 1fr auto;
        justify-items: start;
        gap: 80px;

        h3 {
          //font-family: "Inter";
          color: #1a1a1a;

          font-size: 32px;
          font-weight: 700;
          line-height: 52px;
          
        }
        .h5_para {
          justify-self: end;
          h5 {
            //font-family: "Inter";
            color: #000929;

            font-size: 24px;
            font-weight: 700;
            line-height: 36px;
            letter-spacing: -0.01em;
            
          }
          p {
            //font-family: "Inter";
            font-size: 16px;
            font-weight: 400;
            line-height: 25.6px;
            
            color: #4d5461;
          }
        }
        .h5_para_list {
          // padding-left: 50px;
          justify-self: end;
          h5 {
            color: #000929;
            //font-family: "Inter";
            font-size: 24px;
            font-weight: 700;
            line-height: 36px;
            letter-spacing: -0.01em;
            
          }
          p {
            //font-family: "Inter";
            font-size: 16px;
            font-weight: 400;
            line-height: 25.6px;
            
            color: #4d5461;
          }
          ul {
            li {
              display: inline;
              font-size: 12px;
            }
          }
        }
      }
      .lower_div_3 {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        .card_all {
          background-color: #f3f3f3;
          padding: 40px 40px 40px 30px;
          border-radius: 16px;
          .lower_3rd_up {
            display: flex;
            position: relative;
            gap: 20px;
            align-items: center;
            .double_quote {
              position: absolute;
              width: 35px;
              height: 35px;
              right: -40px;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .round_person_image {
              width: 80px;
              border-radius: 50%;
              height: 80px;
              overflow: hidden;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .h5_para {
              h5 {
                //font-family: "Inter";
                font-size: 18px;
                font-weight: 700;
                // line-height: 27px;
                letter-spacing: -0.01em;
                
                color: #000929;
              }
              p {
                //font-family: "Inter";
                color: #1a1a1a;
                font-size: 16px;
                font-weight: 500;
                // line-height: 25.6px;
                
              }
            }
          }
          .lower_3rd_down {
            p {
              padding-top: 30px;
              //font-family: "Inter";
              font-size: 16px;
              font-weight: 400;
              line-height: 25.6px;
              
              color: #4d5461;
            }
          }
        }
      }
    }
    .about_4th {
      margin: 90px 0 60px 0;
      // border: 1px solid saddlebrown ;
      .heading {
        //font-family: "Inter";
        font-size: 32px;
        font-weight: 700;
        line-height: 52px;
        text-align: center;
      }
      .partnerslider-container {
        padding-top: 40px;
        padding-bottom: 40px;

        .swiper-wrapper {
          display: flex;
          align-items: center;
        }

        .swiper-slide {
          display: flex;
          justify-content: center;
          align-items: center;
          .img_area {
            width: 200px;
            height: 100px;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              // padding: 5px;
              // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }
          }
        }

        .swiper-pagination {
          display: none; /* Hide pagination dots */
        }

        .swiper-button-prev,
        .swiper-button-next {
          display: none;
        }
      }
    }
  }
}

/* Extra Huge large desktops */
@media (min-width: 1920px) {
}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {
}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {
}
@media (min-width: 1200px) and (max-width: 1399px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
}

/* Smaller phones */
@media (max-width: 360px) {
}

/* Smaller phones */
@media (max-width: 320px) {
}
