.dashboard_section {
  margin-bottom: 90px;
  .outer_profile {
    .sidebar {
      border-radius: 16px;

      .left_upper {
        padding: 18px 16px;
        display: flex;
        background: linear-gradient(90deg, #7e81e7 -12.81%, #0f40b2 100%);
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;

        .left_upper_img {
          height: 56px;
          width: 56px;
          margin-right: 12px;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        .left_upper_info {
          h3 {
            padding-bottom: 8px;
            font-family: "DM Sans", sans-serif;
            font-size: 24px;
            font-weight: 700;
            color: #ffffff;
          }
          p {
            font-family: "DM Sans", sans-serif;
            font-size: 16px;
            font-weight: 500;
            color: #ffffff;
          }
        }
      }

      .left_lower {
        padding-left: 12px;
        padding-right: 24px;
        background: #f3f3f3;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;

        ul {
          li {
            .phase,
            .phase_l {
              padding: 16px 10px 16px 25px;
              display: flex;
              cursor: pointer;

              p {
                font-family: "DM Sans", sans-serif;
                font-size: 16px;
                font-weight: 400;
                transition: color 0.3s;
              }

              .icon {
                height: 16px;
                width: 16px;
                position: relative;
                padding-right: 20px;
                top: -5px;
                transition: color 0.3s;
              }

              &:hover {
                color: blue;
                // -webkit-background-clip: text;
                // -webkit-text-fill-color: transparent;
                // background-clip: text;
                // svg:hover {
                //   fill: red;
                // }
              }
            }
          }
        }
      }
    }
  }

  &.seller_main {
    margin-bottom: 90px;
    .right_profile {
      border-radius: 16px;
      padding: 32px;
      background: #f3f3f3;
      .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
        height: 10px;
        background-color: white;
        &::placeholder {
          color: black;
          opacity: 50%;
        }
      }
      .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
        background-color: white;
        // height: 10px;
        padding: 10px 12px;
      }

      .css-wb57ya-MuiFormControl-root-MuiTextField-root {
        background-color: white;
      }
      .select_prop {
        font-family: "DM Sans", sans-serif;
        font-size: 20px;
        font-weight: 500;

        h3 {
          padding-bottom: 16px;
        }
        .prop_type {
          padding: 16px;
          margin-bottom: 40px;

          ul {
            display: flex;
            justify-content: space-between;

            li {
              .prop_same {
                background-color: white;
                padding: 16px 20.5px;
                border-radius: 8px;
                width: 100px;
                cursor: pointer;
                transition: all 0.3s;
                height: 150px;
                border: 2px solid transparent;
                &.selected,
                &:hover {
                  border: 2px solid blue;
                  .prop_image {
                    img {
                      &.img_blue {
                        display: block;
                      }
                      &.img_gray {
                        display: none;
                      }
                    }
                  }
                  p {
                    color: blue;
                  }
                }

                .prop_image {
                  height: 89px;
                  width: 89px;
                  margin-bottom: 12px;
                  overflow: hidden;
                  img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                    &.img_blue {
                      display: none;
                    }
                    &.img_gray {
                      display: block;
                    }
                  }
                }

                p {
                  font-family: "DM Sans", sans-serif;
                  font-size: 18px;
                  font-weight: 500;
                  text-align: center;
                }
              }
            }
          }
        }
      }
      .Other {
        margin-bottom: 40px;
        h3 {
          font-family: "DM Sans";
          font-size: 16px;
          font-weight: 800;
          padding-bottom: 8px;
        }
      }

      .property_adds {
        margin-bottom: 40px;
        .property {
          h3 {
            font-family: "DM Sans";
            font-size: 16px;
            font-weight: 800;
            padding-bottom: 8px;
          }
        }
      }

      .rooms {
        margin-bottom: 40px;
        .no_of_bed {
          h3 {
            font-family: "DM Sans";
            font-size: 16px;
            font-weight: 800;
            padding-bottom: 8px;
          }
        }
      }
      .description {
        margin-bottom: 40px;
        .detail_dis {
          h3 {
            font-family: "DM Sans";
            font-size: 16px;
            font-weight: 800;
            padding-bottom: 8px;
          }
        }
      }
      .rent_price {
        margin-bottom: 40px;
        .rent {
          h3 {
            font-family: "DM Sans";
            font-size: 16px;
            font-weight: 800;
            padding-bottom: 8px;
          }
        }
      }
      .role {
        margin-bottom: 70px;
        .ur_role {
          h3 {
            font-family: "DM Sans";
            font-size: 16px;
            font-weight: 800;
            padding-bottom: 8px;
          }
        }
      }
      .personal {
        .personal_heading {
          h3 {
            font-family: DM Sans;
            font-size: 20px;
            font-weight: 800;
            padding-bottom: 16px;
          }
        }
        .personal_info {
          h3 {
            font-family: DM Sans;
            font-size: 16px;
            font-weight: 800;
          }
        }
      }
    }
  }

  &.account_main {
    .left_detail {
      padding-left: 60px;
      padding-top: 30px;
      background: #f3f3f3;
      height: 100%;
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;

      .edit_button {
        margin-bottom: 50px;
        .btn {
          width: 106px;
          height: 48px;
          padding: 12px 20px;
          gap: 12px;

          background: linear-gradient(white, white) padding-box,
            linear-gradient(90deg, #7e81e7 0%, #0f40b2 100%) border-box;
          opacity: 1;
          border: 2px solid;
          &:hover {
            border: 2px solid !important;
          }
        }
      }

      .left_detail_img {
        height: 160px;
        width: 160px;
        margin-bottom: 50px;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .left_all_details {
        margin-bottom: 80px;
        .left_details {
          .left_main {
            padding-bottom: 20px;
            h3 {
              font-family: DM Sans;
              font-size: 16px;
              font-weight: 900;
              padding-bottom: 8px;
            }

            p {
              font-family: DM Sans;
              font-size: 16px;
              font-weight: 400;
              color: #00000080;
              opacity: 80%;
            }
          }
        }
        .right_details {
          .right_main {
            padding-bottom: 20px;
            h3 {
              font-family: DM Sans;
              font-size: 16px;
              font-weight: 900;
              padding-bottom: 8px;
            }

            p {
              font-family: DM Sans;
              font-size: 16px;
              font-weight: 400;
              color: #00000080;
              opacity: 80%;
            }
          }
        }
      }
    }
    .right_detail {
      padding: 30px 27px 0px 60px;
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
      background: linear-gradient(90deg, #7e81e7 0%, #0f40b2 100%);
      height: 100%;
      h2 {
        font-family: Rozha One;
        font-size: 40px;
        font-weight: 400;
        color: white;
      }
    }
  }

  &.seller_edit {
    .edit_all {
      .edit_profile_button{
        .button_1{
          .cancel_btn{
            width: Fixed (106px) px;
            height: Hug (48px) px;
            padding: 12px 20px 12px 20px;
            gap: 12px;
            border-radius: 6px 0px 0px 0px;
            border: 2px;
            opacity: 1px;
          }
        }
        .save_btn{
          font-family: Inter;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          text-align: center;
          width: Fixed (106px) px;
          height: Hug (48px) px;
          padding: 12px 20px 12px 20px;
          gap: 12px;
          border-radius: 6px 0px 0px 0px;
          opacity: 0px;
        }
      }
 

      h3 {
        font-family: DM Sans;
        font-size: 16px;
        font-weight: 900;
        padding-bottom: 8px;
      }
      .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
        height: 40px;
        background-color: white;
      }
      .css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
        font-family: Inter;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
      }
      .css-wb57ya-MuiFormControl-root-MuiTextField-root {
        background-color: white;
      }
      .css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
        height: 40px;
      }
      .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
        background-color: white;
        height: 40px;
      }
    }

    .edit_margin {
      margin-bottom: 30px;
    }

    .edit_profile {
      .edit_password {
        margin-bottom: 65px;
      }
      background: #f3f3f3;
      border-radius: 16px;
      padding: 32px;
      position: relative;
      .edit_profile_button {
        display: flex;
        .button_1 {
          margin-right: 16px;
        }
      }

      h2 {
        position: absolute;
        top: 32px;
        right: 32px;
        font-family: Rozha One;
        font-size: 38px;
        font-weight: 400;
      }
      .edit_profile_img {
        height: 160px;
        width: 160px;
        margin-bottom: 50px;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &.seller_pass {
    .seller_password {
      padding: 30px 0px 0px 40px;
      background: #f3f3f3;
      border-radius: 16px;
      .change_pass {
        margin-bottom: 50px;
        width: 540px;
        h1 {
          font-family: Rozha One;
          font-size: 40px;
          font-weight: 400;
          padding-bottom: 8px;
        }
        p {
          font-family: Inter;
          font-size: 16px;
          font-weight: 600;
          color: #4d5e80;
          padding-bottom: 56px;
        }
        .old_pass {
          margin-bottom: 24px;
        }
        .confirm_pass {
          margin-bottom: 50px;
        }
      }

      .change_pass_image {
        height: 258px;
        width: 258px;
        position: relative;
        top: 133px;
        right: 59px;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &.liked_prop {
    .prop_sec {
      // border: 1px solid black;
      border-radius: 16px;
      padding: 20px 10px 30px;
      background-color: #f3f3f3;
      .prop_counter {
        padding-left: 10px;
        padding-top: 0;
      }
      .propCards {
        display: grid;
        overflow: hidden;
        grid-template-columns: repeat(3, 270px);
        justify-content: space-evenly;

        // gap: 45px;
        row-gap: 15px;

        .prop_card {
          // background-color:#fff;
          border: 1px solid #eaeaea;
          border-radius: 10px;

          overflow: hidden;
          .card_image {
            width: 280px;
            height: 180px;
            overflow: hidden;
            position: relative;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: transform 0.5s ease-in-out;
            }
          }
          .card_content {
            padding: 10px 18px;
            position: relative;
            .heart_icon {
              position: absolute;
              right: 12px;
              top: 10px;
            }

            h3 {
              font-family: "DM Sans", sans-serif;
              font-size: 16px;
              font-weight: 500;
              color: #000000;
              width: 200px;
              max-width: 100%;
            }
            .city_price {
              padding-top: 10px;
              display: flex;
              justify-content: space-between;
              .city {
                .p_city {
                  font-family: "DM Sans", sans-serif;
                  font-size: 14px;
                  font-weight: 400;
                  color: rgba(0, 0, 0, 0.5);
                }
              }
              .price {
                .p_price {
                  font-family: "DM Sans", sans-serif;
                  font-size: 14px;
                  font-weight: 400;
                  color: rgba(0, 0, 0, 0.5);
                }
              }
            }
          }
          &:hover {
            transform: translateY(-2px);
            box-shadow: -1px 5px 8px #1845b6;
            .card_image {
              img {
                transform: scale(1.05);
              }
            }
          }
        }
      }
    }
  }

  &.respo_prop {
    // border: 1px solid red;
    .respo_sec {
      // border: 1px double black;
      margin-left: 40px;
      .resonse_cards {
        display: grid;
        grid-template-columns: repeat(2, 400px);
        grid-template-rows: repeat(6, 220px);
        gap: 20px;
        justify-content: space-between;
        .all_respo_card {
          border: 1px solid hsla(0, 0%, 0%, 20%);
          border-radius: 16px;
          padding: 16px;
          .img_buyer {
            display: flex;
            // justify-content: space-between;
            column-gap: 16px;
            align-items: center;
            .card_image {
              width: 120px;
              height: 120px;
              border-radius: 8px;
              overflow: hidden;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.5s ease-in-out;
              }
            }
            .side_content {
              h3 {
                font-family: "DM Sans";
                font-size: 20px;
                font-weight: 700;
                letter-spacing: 2px;
                color: black;
              }

              .buyer_phn_address {
                padding-top: 12px;

                .cmn {
                  font-family: "DM Sans";
                  font-size: 16px;
                  font-weight: 400;
                  color: black;
                  opacity: 80%;
                }
                .phn_only {
                  display: flex;
                  gap: 5px;
                }
              }
            }
          }
          .card_content {
            margin-top: 16px;
            border-top: 1px solid black;
            padding-top: 10px;
            .city_name {
              .city {
                .p_city {
                  font-family: "DM Sans";
                  font-size: 18px;
                  font-weight: 500;
                  color: black;
                }
              }
              .property_name {
                padding-top: 6px;
                font-family: DM Sans;
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 2px;
                color: black;
                opacity: 80%;
              }
            }
          }
          transition: transform 0.2s ease-in-out;

          &:hover {
            transform: translateY(-2px);
            box-shadow: 5px 5px 20px #1845b6;
            .card_image {
              img {
                transform: scale(1.05);
              }
            }
          }
        }
      }
    }
  }
}
