.home_1 {
  background: linear-gradient(
    164.6deg,
    #9991f4 -16.94%,
    rgba(224, 222, 247, 0) 124.1%
  );
  position: relative;
  &::before {
    content: "";
    background: linear-gradient(90deg, #7e81e7 -12.81%, #0f40b2 100%);
    position: absolute;
    width: 400px;
    height: 100%;
    border-radius: 5px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  &::after {
    content: "";
    border-radius: 50%;
    position: absolute;
    background-color: #9991f4;
    opacity: 70%;
    width: 160px;
    height: 160px;
    top: 198px;
    right: 612px;
    bottom: 0;
  }
  .eclipse {
    border-radius: 50%;
    position: absolute;
    background-color: #9991f4;
    opacity: 70%;
    width: 160px;
    height: 160px;
    top: 71px;
    right: 185px;
    bottom: 0;
  }
  .home_1_info {
    border-radius: 0px 5px 5px 0px;
    padding-top: 107px;
    padding-bottom: 81px;
    position: relative;
    margin-bottom: 120px;

    .home_1_icon {
      display: flex;
      .css-29m0ly-MuiSvgIcon-root {
        width: 2em;
        height: 2em;
      }
      h4 {
        padding-top: 5px;
        padding-left: 4px;
        padding-bottom: 19px;
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.36px;
        text-align: left;
        color: #000000;
      }
    }

    .home_1_heading {
      color: #1241b3;
      padding-bottom: 24px;
      h1 span {
        font-family: "Inter", sans-serif;
        font-size: 46px;
        font-weight: 700;
        line-height: 55.67px;
        text-align: left;
        display: block;
      }
    }

    .home_1_para {
      border-left: 1px solid black;
      padding-right: 610px;
      padding-left: 10px;
      margin-bottom: 20px;
      p {
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        text-align: left;
        color: #1e1e1e;
        width: 400px;
        max-width: 100%;
      }
    }
    .home_image {
      height: 352px;
      width: 569px;
      bottom: -50px;
      right: -24px;
      position: absolute;
      z-index: 1;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    
  }
}
