.slider_parent {
  position: relative;
  padding: 0 2px;
  // background-color: red;
  h2 {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 16px;
    text-align: center;
  }
  p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;

    text-align: center;
  }
  .swiper {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 50px;

    .swiper-slide {
      background-size: cover;
      // background-color: red;
      height: 273px;
      width: 215px;
      transition: transform 0.3s;
      top: 100px;

      &.swiper-slide-next,
      &.swiper-slide-prev {
        height: 365px;
        width: 286px;
        top:42px;
      }

      &.swiper-slide-active {
        height: 443px;
        width: 420px;
        top: 4px;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      }
    }

    .swiper-pagination {
      bottom: 10px;

      .swiper-pagination-bullet {
        background-color: #6c63ff;
        opacity: 1;
      }

      .swiper-pagination-bullet-active {
        background-color: #4a47a3;
      }
    }

    .swiper-button-prev {
      left: -40px; // Adjust to position outside the container
    }

    .swiper-button-next {
      right: -40px; // Adjust to position outside the container
    }
  }
}
